<!DOCTYPE html>
<html>

<head>
    <title>Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <style>
        form{
            text-align: center;
            align-content: center;
            width: 300px;
            margin-top: 100px;
            margin-left: 500px;


        }
    
    </style>


</head>

<body>

    <form action="admin" method="POST">

        <h1>Login First</h1><br>
        <input type="email" name="email" placeholder="User" class="form-control">
        <br>
        <input type="password" name="Password" placeholder="Password" class="form-control">
        <br>
        <button type="submit" class="btn btn-primary">SUBMIT</button>

    </form>


</body>

</html>